<br />
<section>
    <div class="container">
        <div class="columns is-centered">

            <div class="column is-4">
                <h2 class="title is-2">Edit <%= resource_name.to_s.humanize %></h2>

                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.error_notification %>


                <div class="field">
                    <div class="control">
                        <%= f.input :name, required: true, autofocus: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <%= f.input :email, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                        <% end %>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <%= f.input :username, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <%= f.input :password, autocomplete: "off", hint: "Leave it blank if you don't want to change it", required: false, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
                    </div>
                </div>


                <div class="field">
                    <div class="control">
                        <%= f.input :password_confirmation, required: false, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
                    </div>
                </div>


                <div class="field">
                    <div class="control">
                        <%= f.input :current_password, hint: "We need your current password to confirm your changes", required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <div class="form-actions">
                            <%= f.button :submit, "Update", class:"button is-success is-medium", style: "width:100%;" %>
                        </div>

                    </div>
                </div>
                <% end %>
                <hr>
                <div class="field">
                    <div class="control">
                        <h5 class="title is-5">Cancel my account?</h5>
                        <%= link_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"button is-danger is-small" %>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


<nav class="navbar is-fixed-bottom">
    <div class="navbar-menu">
        <div class="navbar-item">
            <div class="field is-grouped">
                <p class="control">
                     <%= link_to "Back", :back, class:"button is-dark" %>
                </p>
            </div>
        </div>
    </div>
</nav>
