<div class="column is-half">
    <% if user_signed_in? %>
    <article class="media box">
        <figure class="media-left">
            <p class="image is-64x64">
               <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
            </p>
        </figure>
        <div class="media-content">
            <%= render 'tweeets/form' %>
        </div>
    </article>
    <% end %>


    <% @tweeets.each do | tweeet | %>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <%= gravatar_image_tag(tweeet.user.email, size: 64, alt: tweeet.user.name) %>
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <strong><%= tweeet.user.name if tweeet.user %></strong><br />
                    <small><%= tweeet.user.username if tweeet.user %></small>
                    <p><%= tweeet.tweeet  %></p>
                </div>
                <hr>
                <% if user_signed_in? %>
                <nav class="level">
                    <div class="level-left is-mobile">

                        <%= link_to tweeet, class: "level-item" do %>
                        <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
                        <% end %>

                        <%= link_to edit_tweeet_path(tweeet), class: "level-item" do %>
                        <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        <% end %>

                        <%= link_to tweeet, method: :delete, data: { confirm: "Are you sure you want to delete this post?"} do %>
                        <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        <% end %>

                    </div>

                </nav>
                <% end %>
            </div>
        </article>
    </div>
    <% end %>
</div>