<div class="column">
    <nav class="panel">
        <p class="panel-heading">Who to Follow?</p>

        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="https://www.shareicon.net/data/64x64/2016/08/18/810199_user_512x512.png">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>John Sharma</strong>
                            <small>c7171810</small>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
<!--                        <img src="https://bulma.io/images/placeholders/64x64.png">-->
                        <img src="https://www.shareicon.net/data/64x64/2016/08/18/810221_user_512x512.png">
                        
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Aatmiya Baral</strong>
                            <small>c7171786</small>
                        </p>
                    </div>
                </div>
            </article>
        </div>


    </nav>
</div>