<br />
<section>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title">Create a new Tweeet</h1>
                <%= render 'form', tweeet: @tweeet %>
            </div>
        </div>
    </div>
</section>

<nav class="navbar is-fixed-bottom">
    <div class="navbar-menu">
        <div class="navbar-item">
            <div class="field is-grouped">
                <p class="control">
                    <%= link_to 'Cancel', tweeets_path, class: "button is-dark" %>
                </p>
            </div>
        </div>
    </div>
</nav>
