<div class="section">
    <div class="container">
        <div class="columns is-centered">

            <div class="column is-4">
                <h2 class="title is-2">Login</h2>

                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                <div class="field">
                    <div class="control">
                        <%= f.input :email, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <%= f.input :password, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
                    </div>
                </div>
                
                <div class="field">
                    <div class="control">
                        <%= f.input :remember_me, wrapper: false, as: :boolean if devise_mapping.rememberable? %>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <%= f.button :submit, "Login", class:"button is-info is-medium" %>
                    </div>
                </div>

                <% end %>
                <br />
                <%= render "devise/shared/links" %>

            </div>
        </div>
    </div>
</div>





